.btn-group-wrap{
    padding: 10px;
    text-align: center;
}

.btn.btn-primary{
    background-color: rgb(44, 122, 211);
}
.logo{
    font-family: 'Mr Dafoe', cursive;

    padding: 10px;
    text-align: center;
}

.custom-select{
    background-color: rgba(228, 228, 228, 0.534);
}